r_dir_file(fingerprintd, firmware_file)
r_dir_file(fingerprintd, proc_touchpanel)

allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd sysfs:file write;
allow fingerprintd vfat:file r_file_perms;
binder_call(fingerprintd, gx_fpd);
allow fingerprintd gx_fpd_service:service_manager find;

allow fingerprintd gx_fpd_lib_file:file r_file_perms;
allow fingerprintd gx_fpd_lib_file:chr_file { r_file_perms setattr };
allow fingerprintd gx_fp_lib_file:file r_file_perms;
allow fingerprintd gx_fp_lib_file:chr_file { r_file_perms setattr };
