set_prop(location, diag_prop);
allow location diag_prop:file r_file_perms;
allow location diag_device:chr_file { rw_file_perms };
allow location permission_service:service_manager find;
