on boot
    # for system UI controlled torch
    chown system system /sys/class/leds/torch-light0/brightness
    chown system system /sys/class/leds/torch-light1/brightness
    chmod 0666 /sys/class/leds/torch-light0/brightness
    chmod 0666 /sys/class/leds/torch-light1/brightness

    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp
    chmod 0644 /dev/smartpa_f0_detect

    chown system system /sys/class/power_supply/battery/system_scn
    chmod 0660 /sys/class/power_supply/battery/system_scn

service gx_fpd /system/bin/gx_fpd
    class late_start
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.qmuxd=running
    start wifi_mac

#service wifi_mac /system/bin/logwrapper /system/bin/set_wifi_mac
service wifi_mac /system/bin/set_wifi_mac
    class core
    user root
    oneshot
    disabled

#  sys.sysctl.led.brightness
on property:sys.sysctl.led.brightness=*
   write /sys/class/leds/button-backlight/brightness ${sys.sysctl.led.brightness}

#  sys.sysctl.led.red
on property:sys.sysctl.led.red=*
   write /sys/class/leds/red/brightness ${sys.sysctl.led.red}

#  sys.sysctl.led.green
on property:sys.sysctl.led.green=*
   write /sys/class/leds/green/brightness ${sys.sysctl.led.green}

#  sys.sysctl.led.blue
on property:sys.sysctl.led.blue=*
   write /sys/class/leds/blue/brightness ${sys.sysctl.led.blue}

#  sys.sysctl.led.light0
on property:sys.sysctl.led.light0=*
   write /sys/class/leds/torch-light0/brightness ${sys.sysctl.led.light0}

#  sys.sysctl.led.light1
on property:sys.sysctl.led.light1=*
   write /sys/class/leds/torch-light1/brightness ${sys.sysctl.led.light1}

#  sys.sysctl.antenna.export
on property:sys.sysctl.antenna.export=*
   write /sys/class/gpio/export ${sys.sysctl.antenna.export}

#  sys.sysctl.antenna.direction
on property:sys.sysctl.antenna.direction=*
   write /sys/class/gpio/gpio127/direction ${sys.sysctl.antenna.direction}

#  sys.sysctl.antenna.value
on property:sys.sysctl.antenna.value=*
   write /sys/class/gpio/gpio127/value ${sys.sysctl.antenna.value}

#  sys.sysctl.charge.value
on property:sys.sysctl.charge.value=*
   write /sys/class/power_supply/battery/charging_enabled ${sys.sysctl.charge.value}

#Start the Battery Daemon in COM
#service battd /system/bin/battd
#    class late_start
#    user log
#    group log
#    oneshot
#    disabled

#on property:sys.boot_completed=1
#    start battd
